{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h1>Vehicles</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>VIN</th>
        <th>Make</th>
        <th>Model</th>
        <th>Weight</th>
        <th>Booking</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
      <tr>
        <td>{{ vehicle.vin }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.weight }} kg</td>
        <td>
          {% if vehicle.booking %}
            {{ vehicle.booking.booking_number }}
          {% else %}
            Not assigned
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center">No vehicles found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}